a(onclick="getCurrentServerTime()") Get current server time [Try out Express + AJAX]
.hook-resp-cont

script.
  function getCurrentServerTime() {
    $.ajax({
        type: "GET",
        url: '/serv-time',
        success: function(data) {
            console.log("getCurrentServerTime success");
            $('.hook-resp-cont').text(data);
        },
        error: function(jqXHR, textStatus, errorThrown){
            console.log("getCurrentServerTime error " + textStatus + " " + errorThrown);
            console.log(jqXHR);
        },
        dataType: "text",
        cache: false
    });
  }