extends layout

block content
  h1 title

  hr
  include serv-time-getter

  p Welcome to Express, dear #{user}!
  p Your authorization time: #{utils.formatDate(authed)} [Try out Express + Custom utility functions]

  hr
  include file-reader    
  
